In [1]:
## Import modules
import numpy as np
import pandas as pd
import os

In [3]:
## Get working directory
os.getcwd()

'C:\\Users\\jankm\\git\\dsc478\\Assignment1'

In [5]:
## Change working directory
## Placeholder
## os.chdir('/home/ecosystem/DePaul/CSC478/Week2')

In [6]:
## Load text file via read_csv
bank_df = pd.read_csv("bank_data.csv", sep=',')
bank_df

,id,age,income,children,gender,region,married,car,savings_acct,current_acct,mortgage,pep
0,ID12101,48,17546.00,1,FEMALE,INNER_CITY,NO,NO,NO,NO,NO,YES
1,ID12102,40,30085.10,3,MALE,TOWN,YES,YES,NO,YES,YES,NO
2,ID12103,51,16575.40,0,FEMALE,INNER_CITY,YES,YES,YES,YES,NO,NO
3,ID12104,23,20375.40,3,FEMALE,TOWN,YES,NO,NO,YES,NO,NO
4,ID12105,57,50576.30,0,FEMALE,RURAL,YES,NO,YES,NO,NO,NO
5,ID12106,57,37869.60,2,FEMALE,TOWN,YES,NO,YES,YES,NO,YES
6,ID12107,22,8877.07,0,MALE,RURAL,NO,NO,NO,YES,NO,YES
7,ID12108,58,24946.60,0,MALE,TOWN,YES,YES,YES,YES,NO,NO
8,ID12109,37,25304.30,2,FEMALE,SUBURBAN,YES,YES,NO,NO,NO,NO
9,ID12110,54,24212.10,2,MALE,TOWN,YES,YES,YES,YES,NO,NO
10,ID12111,66,59803.90,0,FEMALE,TOWN,YES,NO,YES,YES,NO,NO
11,ID12112,52,26658.80,0,FEMALE,INNER_CITY,NO,YES,YES,YES,YES,NO
12,ID12113,44,15735.80,1,FEMALE,TOWN,YES,NO,YES,YES,YES,YES
13,ID12114,66,55204.70,1,FEMALE,TOWN,YES,YES,YES,YES,YES,YES
14,ID12115,36,19474.60,0,MALE,RURAL,YES,NO,YES,YES,YES,NO
15,ID12116,38,22342.10,0,FEMALE,INNER_CITY,YES,YES,YES,YES,YES,NO
16,ID12117,37,17729.80,2,FEMALE,TOWN,YES,NO,NO,NO,YES,NO
17,ID12118,46,41016.00,0,FEMALE,SUBURBAN,YES,NO,YES,NO,YES,NO
18,ID12119,62,26909.20,0,FEMALE,INNER_CITY,YES,NO,YES,NO,NO,YES
19,ID12120,31,22522.80,0,MALE,TOWN,YES,YES,YES,YES,NO,NO
20,ID12121,61,57880.70,2,MALE,INNER_CITY,YES,NO,YES,NO,NO,YES
21,ID12122,50,16497.30,2,MALE,TOWN,YES,NO,YES,YES,NO,NO
22,ID12123,54,38446.60,0,MALE,INNER_CITY,YES,NO,YES,YES,NO,NO
23,ID12124,27,15538.80,0,FEMALE,TOWN,NO,YES,YES,YES,YES,NO
24,ID12125,22,12640.30,2,MALE,INNER_CITY,NO,YES,YES,YES,NO,NO
25,ID12126,56,41034.00,0,MALE,INNER_CITY,YES,YES,YES,YES,YES,NO
26,ID12127,45,20809.70,0,MALE,INNER_CITY,YES,NO,YES,YES,YES,NO
27,ID12128,39,20114.00,1,FEMALE,TOWN,YES,NO,NO,YES,NO,YES
28,ID12129,39,29359.10,3,FEMALE,INNER_CITY,NO,YES,NO,YES,YES,NO
29,ID12130,61,24270.10,1,MALE,RURAL,YES,NO,NO,YES,NO,YES
...,...,...,...,...,...,...,...,...,...,...,...,...
570,ID12671,49,33665.50,3,FEMALE,RURAL,NO,YES,NO,YES,NO,NO
571,ID12672,40,36166.20,0,MALE,INNER_CITY,YES,NO,NO,NO,NO,NO
572,ID12673,33,27712.90,2,FEMALE,SUBURBAN,NO,NO,YES,YES,NO,YES
573,ID12674,39,22400.70,2,MALE,TOWN,YES,YES,YES,YES,NO,NO
574,ID12675,43,28469.90,0,FEMALE,INNER_CITY,YES,YES,YES,YES,NO,NO
575,ID12676,37,30488.00,0,MALE,TOWN,YES,NO,YES,YES,YES,NO
576,ID12677,24,19160.30,1,FEMALE,TOWN,YES,YES,YES,YES,NO,YES
577,ID12678,62,45342.50,0,MALE,TOWN,YES,YES,YES,NO,NO,YES
578,ID12679,18,6294.21,0,MALE,INNER_CITY,NO,NO,YES,YES,YES,NO
579,ID12680,47,25127.70,0,FEMALE,TOWN,YES,YES,NO,NO,NO,NO
580,ID12681,63,51879.30,2,MALE,SUBURBAN,YES,YES,YES,NO,YES,YES
581,ID12682,20,12644.90,2,MALE,TOWN,YES,YES,NO,YES,YES,NO
582,ID12683,46,21984.40,3,FEMALE,TOWN,NO,NO,YES,NO,NO,NO
583,ID12684,47,29093.10,2,FEMALE,RURAL,NO,YES,YES,YES,NO,NO
584,ID12685,33,23528.40,1,MALE,TOWN,YES,NO,YES,YES,YES,YES
585,ID12686,20,9516.91,3,MALE,TOWN,NO,YES,YES,YES,NO,NO
586,ID12687,20,18364.90,1,MALE,INNER_CITY,YES,NO,NO,YES,NO,YES
587,ID12688,43,31273.80,1,FEMALE,TOWN,NO,YES,YES,NO,NO,YES
588,ID12689,58,49673.60,0,MALE,RURAL,YES,NO,YES,YES,NO,NO
589,ID12690,29,12623.40,1,MALE,SUBURBAN,YES,YES,YES,YES,NO,NO
590,ID12691,25,23818.60,0,MALE,INNER_CITY,YES,NO,NO,NO,NO,NO
591,ID12692,40,31473.90,2,FEMALE,INNER_CITY,NO,NO,YES,YES,YES,YES
592,ID12693,48,20268.00,0,MALE,TOWN,YES,NO,YES,YES,NO,NO
593,ID12694,65,51417.00,2,MALE,SUBURBAN,YES,NO,YES,YES,NO,YES
594,ID12695,59,30971.80,3,FEMALE,RURAL,YES,YES,YES,YES,YES,NO
595,ID12696,61,47025.00,2,FEMALE,INNER_CITY,NO,YES,YES,YES,YES,NO
596,ID12697,30,9672.25,0,FEMALE,INNER_CITY,YES,YES,YES,YES,NO,NO
597,ID12698,31,15976.30,0,FEMALE,TOWN,YES,YES,YES,NO,NO,YES
598,ID12699,29,14711.80,0,MALE,INNER_CITY,YES,NO,YES,NO,YES,NO
599,ID12700,38,26671.60,0,MALE,TOWN,NO,YES,NO,YES,YES,YES